html{
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #f5f7f8;
}
body{
    background-color: #f5f7f8;
    color: #333;
    margin: 0;
}
p{
    font-size: 14px;
    color: #959595;
}
div{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: 20px;
    margin: 30px auto;
    background-color: #f5f7f8;
    overflow: hidden;
}
span{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: lighter;
    padding: 15px;
}
#side-bar{
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    position: fixed;
    width: 50px;
    height: 100%;
    background-color: #393D42;
    transition: 0.5s;
}
#side-top{
    background-color: #31363b;
    margin: 0;
}
#side-top-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.side-bar-element{
    margin: 0;
    font-size: 14px;
    background-color: #393D42;
    color: white;
    text-align: center;
}
#side-bar #side-side-bar{
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    position: fixed;
    width: 0px;
    height: 100%;
    background-color: #2A2F33;
    transition: 0.5s;
}
#side-bar:hover{
    width: 275px;
    
}
#side-bar #side-side-bar:hover{
    width: 50px;
}
#top-bar{
    transition: 0.5s;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 50px;
    padding-bottom: 0;
    margin: 0%;
    margin-left: 50px;
    color: #444444;
    font-size: 14px;
}
#profile-photo{
    float: right;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#app{
    transition: 0.5s;
    margin: 0;
    margin-left: 50px;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 50px;
    vertical-align: middle;
    font-size: 22px;
    /* font-family: "BarlowSemiCondensed"; */
    color: #959595;
}
.sort-by-date{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.post-list{
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
.post{
    display: flex;
    flex: auto;
    flex-direction: row;
    max-width: 360px;
    padding: 0px;
    margin: 15px;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #e5e6ee;
    background-color: #FFF;
}
.social-media{
    position: static;
    height: auto;
    min-width: 40px;
    margin: 0;
    padding: 0;
    background-color: #444444;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.social-media-img{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.post-inside{
    margin: 0;
    padding: 20px;
    background-color: #FFF;
    vertical-align: middle;
    overflow: hidden;
}
.post-photo{
    width: 280px;
    height: 240px;
}
.dot{
  height: 0.1%;
  width: 0.1%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#gray{
    background-color: #acacac;
}
#green{
    background-color: #3ac183;
}
#yellow{
    background-color: #f7bf38;
}
#red{
    background-color: #fb6450;
}
#blue{
    background-color: #67b1f2;
}