html{
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #f5f7f8;
}
body{
    background-color: #f5f7f8;
    color: #333;
    margin: 0;
}
p{
    font-size: 14px;
    color: #959595;
}
div{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: 20px;
    margin: 30px auto;
    background-color: #f5f7f8;
    overflow: hidden;
}
span{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: lighter;
}
#side-bar{
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    position: fixed;
    width: 50px;
    height: 100%;
    background-color: #393D42;
    transition: 0.5s;
}
#side-top{
    background-color: #31363b;
    margin: 0;
}
#side-top-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.side-bar-element{
    margin: 0;
    background-color: #393D42;
    color: white;
    text-align: center;
}
#side-bar #side-side-bar{
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    position: fixed;
    width: 0px;
    height: 100%;
    background-color: #2A2F33;
    transition: 0.5s;
}
#side-bar:hover{
    width: 275px;
    
}
#side-bar #side-side-bar:hover{
    width: 50px;
}
#top-bar{
    padding-left: 50px;
    margin: 0%;
    color: #444444;
    font-size: 14px;
}
#profile-photo{
    float: right;
    width: 50px;
    height: 50px;
}
#app{
    vertical-align: middle;
    font-size: 22px;
    /* font-family: "BarlowSemiCondensed"; */
    color: #959595;
}
.post{
    max-width: 280px;
    padding: 20px;
    margin: 30px;
    float: left;
    font-weight: bolder;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #e5e6ee;
    background-color: #FFF;
    vertical-align: middle;
    overflow: hidden;
}
.post-photo{
    width: 280px;
    height: 240px;
}